[Unit]
  
[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/opt/modlogs/modlogs
WorkingDirectory=/opt/modlogs/
User=root
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
